<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../styles/bootstrap4-neon-glow.css">
    <link rel="stylesheet" href="../styles/app.css">
</head>

<body class="app">
    <window-titlebar style="-webkit-app-region: drag">
        <header>
            <img height="35" src="../../icons/icons8-traffic-jam-96.png">
            <window-title>
                <label>Teleoperation User Study (sas7252 BA WS2020/21)</label>
                <label class="subtext">Enterprise Backend Simulator v2.0.0 // samyLS</label>
            </window-title>
            <script>
                //document.write(process.version)
            </script>
        </header>
        <div style="-webkit-app-region: none" class="btn-group" role="group"
            aria-label="Button group with nested dropdown">
            <a href="#!" class="btn btn-dark" id="ui_btn_hideApp">Hide</a>
            <a href="#!" class="btn btn-danger" id="ui_btn_exitApp">[!] QUIT</a>
        </div>

    </window-titlebar>
    <appview class="row">
        <view class="m-view col-12 col-lg-7">
            <view-topbar>
                <form>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Scenario</div>
                                </div>
                                <select id="ui_dropdown_sNr" class="form-control" disabled>
                                    <option value="2">Default - BA-Concept sas7252</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">IAV</div>
                                </div>
                                <select id="ui_dropdown_iavNr" class="form-control" disabled>
                                    <option value="1">Default</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Driver Profile</div>
                                </div>
                                <select id="ui_dropdown_dNr" class="form-control">
                                    <option value="1">Elena Kaiser</option>
                                    <option value="2">Jan Mayer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>
                <div class="d-flex flex-row-reverse">
                    <button id="ui_btn_resetCfg" class="btn btn-outline-danger btn-sm">Apply now</button>
                    <div class="text-muted small txinfo">Warning! This will reset the progress and reload all connected
                        clients -->
                    </div>
                </div>
            </view-topbar>
            <view-szdetail class="sz-view sz2">
                <div class="itembox" id="ui_driveralertpanel">
                    <div class="card mw200 shadow">
                        <div class="card-header">
                            Vehicle Safety Features
                        </div>
                        <div class="card-body">
                            <p class="card-text">Use these buttons to send/display messages on the CarUI
                            </p>
                            <div class="row">
                                <button id="ui_btn_alertDriverDanger"
                                    class="btn btn-lg btn-warning">Problem/Danger</button>
                                <button ui="ui_btn_alertDriverEmergency"
                                    class="btn btn-lg btn-danger">Emergency</button>
                            </div>
                            <div class="row">
                                <div class="alert alert-danger ui_banner" id="ui_banner_driverCanceledAlert"
                                    role="alert">
                                    <strong>USER CANCELED ALERT/DANGER/EMERGECY</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itembox">
                    <div class="row ui_callmanager" id="ui_callmanager_view-nocall">
                        <div class="alert alert-default" role="alert">
                            <img src="../images/icons8-keine-telefone-96.png" width="96">
                            <strong>NO ACTIVE CALLS</strong>
                        </div>
                    </div>
                    <div class="row ui_callmanager" id="ui_callmanager_view-incommingcall">
                        <div class="card mw200 shadow">
                            <div class="card-header">
                                INCOMMING CALL
                            </div>
                            <div class="card-body">
                                <img src="../images/icons8-telefon-getrennt-96.png"  width="96" height="96">
                                <p class="card-text">Please answer this support call!</p>
                                <button id="ui_btn_callAccept" class="btn btn-lg btn-success">Accept</button>
                            </div>
                        </div>
                    </div>
                    <div class="row ui_callmanager" id="ui_callmanager_view-activecall">
                        <div class="card rw500 shadow">
                            <div class="card-header">
                                <img src="../images/icons8-telefon-getrennt-96.png" width="20" height="20"> ACTIVE SUPPORT CALL
                            </div>
                            <div class="card-body">
                                <p class="card-text">You are connected to the driver by phone</p>
                                <p class="card-text">Vehicle Operation Mode:</p>
                                <img id="ui_rvtoStatusImg" src="" width="100" height="100">
                                <h3 id="ui_rtvoStatusLabel"></h3>
                                <b id="ui_rtvoStatusDescrLabel"></b>
                                <div class="alert ui_banner" id="ui_rtvoStateBanner" role="alert">
                                    <img id="ui_rtvoBanner_img" src="" width="20" height="20">
                                    <span id="ui_rtvoBanner_txt"></span>
                                </div>
                                <button id="ui_btn_rtvo-stop-reqperm" class="btn btn-primary ui_rvto-button">Request Permission to Release</button>
                                <button id="ui_btn_rtvo-stop" class="btn btn-warning ui_rvto-button">RELEASE Vehicle</button>
                                <button id="ui_btn_rtvo-start-reqperm" class="btn btn-primary ui_rvto-button">Request Permission to Take Over</button>
                                <button id="ui_btn_rtvo-start" class="btn btn-warning ui_rvto-button">TAKE OVER Vehicle</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="alert alert-warning ui_banner" id="ui_banner_callDisconnected" role="alert">
                            <strong>CALL DISCONNECTED</strong>
                        </div>
                    </div>
                </div>
            </view-szdetail>
            <view-bottombar class="left">
                Status-Bar
            </view-bottombar>
        </view>
        <view class="s-view d-none d-lg-block col-lg-5">
            <console id="ui_consoleView">
                <p>Hello World</p>
            </console>
            <view-bottombar class="right">
                <div class="input-group mb-3">
                    <input id="ui_textfield_commandInput" type="text" class="form-control"
                        placeholder="Enter a valid signal" aria-label="Recipient's username"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="ui_btn_runCmd" class="btn btn-primary" type="button">Send</button>
                    </div>
                </div>
            </view-bottombar>
        </view>
    </appview>
    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script src="../javascript/app.js"></script>
</body>

</html>