<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../styles/bootstrap4-neon-glow.css">
    <link rel="stylesheet" href="../styles/app.css">
</head>

<body class="app">
    <window-titlebar style="-webkit-app-region: drag">
        <header>
            <img height="35" src="../../icons/icons8-traffic-jam-96.png">
            <window-title>
                <label>Teleoperation User Study (sas7252 BA WS2020/21)</label>
                <label class="subtext">Enterprise Backend Simulator v2.0.0 // samyLS</label>
            </window-title>
            <script>
                //document.write(process.version)
            </script>
        </header>
        <div style="-webkit-app-region: none" class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a href="#!" class="btn btn-dark" id="ui_btn_hideApp">Hide</a>
            <a href="#!" class="btn btn-danger" id="ui_btn_exitApp">[!] QUIT</a>
        </div>

    </window-titlebar>
    <appview class="row">
        <view class="m-view col-12 col-lg-7">
            <view-topbar>
                <form>
                    <div class="form-row">
                        <div class="col">










                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Scenario</div>
                                </div>
                                <select id="ui_dropdown_sNr" class="form-control">
                  <option value="2">SZ2 Stress-Situation (Work&Drive)</option>
                  <option value="3">SZ3 Comfort-Situation (Taxi)</option>
                </select>
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">IAV</div>
                                </div>
                                <select id="ui_dropdown_iavNr" class="form-control">
                  <option value="1">Text only</option>
                  <option value="2">Voice-Chat</option>
                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Driver Profile</div>
                                </div>
                                <select id="ui_dropdown_dNr" class="form-control">
                  <option value="1">Elena Kaiser</option>
                  <option value="2">Jan Mayer</option>
                </select>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>
                <div class="d-flex flex-row-reverse">
                    <button id="ui_btn_resetCfg" class="btn btn-outline-danger btn-sm">Apply now</button>
                    <div class="text-muted small txinfo">Warning! This will reset the progress and reload all connected clients -->
                    </div>
                </div>
            </view-topbar>
            <view-szdetail class="sz-view sz2">
                <div class="itembox">
                    <h1>MONITOR</h1>
                    <button>Send Alert</button>
                    <button>Send Warning</button>
                    <labelbox>Info</labelbox>
                </div>
                <div class="itembox">
                    <h1>CALL</h1>
                    Connected/Disconnected
                    <button>Accept</button>
                    <button>Decline</button>
                    <button>EndCall</button>
                </div>
                <div class="itembox">
                    <h1>TAKE OVER</h1>
                    <button>Request Permission</button>
                    <button>Take Over</button>
                </div>
                <div class="itembox">
                    <h1>RELASE</h1>
                    <button>Request Permisssion</button>
                    <button>Release</button>
                </div>
            </view-szdetail>
            <view-bottombar class="left">
                Status-Bar
            </view-bottombar>
        </view>
        <view class="s-view d-none d-lg-block col-lg-5">
            <console id="ui_consoleView">
                <p>Hello World</p>
            </console>
            <view-bottombar class="right">
                <div class="input-group mb-3">
                    <input id="ui_textfield_commandInput" type="text" class="form-control" placeholder="Enter a valid signal" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="ui_btn_runCmd" class="btn btn-primary" type="button">Send</button>
                    </div>
                </div>
            </view-bottombar>
        </view>
    </appview>
    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script src="../javascript/app.js"></script>
</body>

</html>